h1,h2{
    color: blueviolet;
}

/* Child selector */
/* one level deep selection */

.box > p {
    color: firebrick
}

/* Descendant selector */
/* .box is ancestor and li is grand children */
/* two levels deep */

.box li {
    color: blue;
}

/* Chaining Selectors */
li.done{
    color:seagreen;
}

/* Multiple Combinators */
ul p.done{
    font-size: 0.5rem;
}